# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# IDEs
.idea/
*.iml
*.iws
.vscode/
.project
.classpath
.settings/
.factorypath

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Project specific
cookies.txt
maven/
maven-temp/
frontend/node_modules/
frontend/dist/
frontend/.eslintcache
.m2/
